.home-container {
    text-align:center;
    margin: 50px 0 100px;
  }
  
  h1 {
    font-size: 36px;
    color: #333;
  }
  
  p {
    font-size: 18px;
    color: #555;
    margin: 100px 0 100px;
  }
  
  .h1name {
    color: #3c5665;
    margin-top: -25px;

  }