nav {
    background-color: #29343d;
    padding: 10px;
    text-align: center;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    justify-content: space-between;
  }
  
  li {
    display: inline;
    margin: 0 20px;
  }
  
  a {
    text-decoration: none;
    color: #5A7480;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  a:hover {
    color: #92A4B1;
  }
  